@{
 ViewBag.Title = "Brands";
}
<div id="services" class="container-fluid text-center">
    <h2>Brands we sell and provide srvices:</h2>
    <hr />

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="../images/hindware.jpg">
                <img src="~/images/hindware.jpg" alt="Trolltunga Norway" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/images/logo_ark.jpg">
                <img src="~/images/logo_ark.jpg" alt="Forest" width="300" height="200">
            </a>

        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/images/oriplast.jpg">
                <img src="~/images/oriplast.jpg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/images/supreme.jpg">
                <img src="~/images/supreme.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>

    </div>
